html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://bing.img.run/rand.php");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
