<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="type.css">
</head>
  <body>
    <div id="app" class="container mt-5">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <h2 class="text-center mb-4">注册账号</h2>
            <form @submit.prevent="register">
            <div class="form-group">
                <label class="name" for="name">账号名</label>
                <input type="text" class="form-control" id="name" v-model="registerName">
            </div>
            <div class="form-group">
                <label class="email" for="email">邮箱</label>
                <input type="email" class="form-control" id="email" v-model="registerEmail">
            </div>
            <div class="form-group">
                <label class="password" for="password">密码</label>
                <input type="password" class="form-control" id="password" v-model="registerPassword">
            </div>
            <button type="submit" class="btn btn-primary btn-block">注册</button>
            <p class="go_login">已有账号？点击<a class="go_login" href="login.html">登录</a></p>
            </form>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

  </body>
</html>